@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

:root {
    --primary-color: #181a20;
    --font-color: white;
    --secondery-color: #e3b00c;
}

.flex {
    display: flex;
}

header nav {
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--primary-color);
    height: 50px;
}

header nav .logo {
    text-transform: capitalize;
    color: var(--secondery-color);
    font-size: 25px;
    text-shadow: 0 0 15px var(--secondery-color);
}

header nav ul {
    list-style: none;
}

header nav ul li {
    margin: 15px;
}

header nav ul li a {
    text-decoration: none;
    color: var(--font-color);
    font-size: 18px;
    text-transform: capitalize;
}

header nav ul li a:hover {
    color: var(--secondery-color);
    transition: all 0.5s ease;
}

header nav .icon-socail li {
    cursor: pointer;
}

header nav .icon-socail li a {
    transition: all 0.5s ease;
    font-size: 22px;
}

header nav .icon-socail li a:hover {
    color: var(--secondery-color);
    text-shadow: 0 0 15px var(--secondery-color);
    transition: all 0.5s ease;
}

section {
    margin: 10px;
    justify-content: center;
}

section .clock {
    background-color: var(--primary-color);
    border-radius: 10px;
    width: 25%;
    height: 120px;
    margin: 10px;
    color: var(--font-color);
    text-transform: capitalize;
    align-items: center;
    flex-direction: column;
}

section .clock h2 {
    margin: 10px;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 7px;
}

section .clock div {
    font-family: 'Orbitron', sans-serif;
    font-size: 32px;
    color: var(--secondery-color);
    letter-spacing: 7px;
    background-color: var(--primary-color);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

section .heade-market {
    justify-content: space-between;
    width: 78%;
    margin: 31px auto;
}

section .heade-market div {
    align-items: center;
    font-size: 18px;
}

section .heade-market div input {
    margin-left: 24px;
    padding: 5px;
}


/*start section show-exchange*/

.show-exchange {
    min-height: 500px;
}

.show-exchange .sympols-section {
    flex-wrap: wrap;
    width: 79%;
    margin: 0px auto;
    justify-content: space-between;
}

.show-exchange .sympols-section .sympol-name {
    background-color: gray;
    width: 30%;
    margin-bottom: 5px;
}


/*end section show-exchange*/


/*style footer */

footer .newssetler {
    background-color: var(--secondery-color);
    color: var(--primary-color);
    justify-content: center;
    align-items: center;
    height: 110px;
}

footer .newssetler p {
    font-size: 25px;
    width: 30%;
    margin-right: 100px;
    font-weight: 500;
    text-align: center;
    line-height: 1.3;
}

footer .newssetler div input,
footer .newssetler div button {
    padding: 10px 40px;
    background-color: var(--primary-color);
    border-radius: 10px;
    color: white;
    border: none
}

footer .newssetler div input::placeholder {
    text-transform: capitalize;
    font-size: 18px;
    opacity: .5;
}

footer .newssetler div input:focus {
    outline: none;
}

footer .newssetler div button {
    padding: 9px 10px;
    color: var(--secondery-color)
}

footer nav {
    background-color: var(--primary-color);
}

footer nav ul {
    justify-content: center;
    align-items: center;
    height: 50px;
}

footer nav ul li {
    list-style: none;
}

footer nav ul li a {
    text-decoration: none;
    font-size: 18px;
    color: var(--font-color);
    padding: 10px;
    text-transform: capitalize;
}

footer nav ul li a:hover {
    color: var(--secondery-color);
    text-shadow: 0 0 15px var(--secondery-color);
    transition: all 0.5s ease;
}

.text {
    font-size: 18px;
    color: var(--font-color);
    line-height: 1.5;
    background-color: var(--primary-color);
    text-align: center;
    text-transform: capitalize;
    padding: 10px;
}

footer .copywrite {
    border-top: .5px solid rgb(128, 125, 125);
}


/* end footer style */