@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

:root {
    --primary-color: #181a20;
    --font-color: white;
    --secondery-color: #e3b00c;
}

.flex {
    display: flex;
}

header nav {
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--primary-color);
    height: 50px;
}

header nav .logo {
    text-transform: capitalize;
    color: var(--secondery-color);
    font-size: 25px;
    text-shadow: 0 0 15px var(--secondery-color);
}

header nav ul {
    list-style: none;
}

header nav ul li {
    margin: 15px;
}

header nav ul li a {
    text-decoration: none;
    color: var(--font-color);
    font-size: 18px;
    text-transform: capitalize;
}

header nav ul li a:hover {
    color: var(--secondery-color);
    transition: all 0.5s ease;
}

header nav .icon-socail li {
    cursor: pointer;
}

header nav .icon-socail li a {
    transition: all 0.5s ease;
    font-size: 22px;
}

header nav .icon-socail li a:hover {
    color: var(--secondery-color);
    text-shadow: 0 0 15px var(--secondery-color);
    transition: all 0.5s ease;
}

/* start dropdown  */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content span {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content span:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }
/* finsh dropdown  */
section {
    margin: 10px;
    justify-content: center;
}

section .clock {
    background-color: var(--primary-color);
    border-radius: 10px;
    width: 25%;
    height: 120px;
    margin: 10px;
    color: var(--font-color);
    text-transform: capitalize;
    align-items: center;
    flex-direction: column;
}

section .clock h2 {
    margin: 10px;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 7px;
}

section .clock div {
    font-family: 'Orbitron', sans-serif;
    font-size: 32px;
    color: var(--secondery-color);
    letter-spacing: 7px;
    background-color: var(--primary-color);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
